{% if chineseroom_app_anthropic_claudecode_enable %}alias claude="claude --dangerously-skip-permissions"
{% endif %}
{% if chineseroom_app_openai_codex_enable %}alias codex="codex --full-auto"
{% endif %}
