---
- name: Create chineseroom user
  user:
    name: "{{ chineseroom_restricted_user }}"
    create_home: yes
    state: present

- name: Create SSH directory for chineseroom user
  file:
    path: "/home/{{ chineseroom_restricted_user }}/.ssh"
    state: directory
    owner: "{{ chineseroom_restricted_user }}"
    group: "{{ chineseroom_restricted_user }}"
    mode: '0700'

- name: Add SSH authorized keys for chineseroom user
  authorized_key:
    user: "{{ chineseroom_restricted_user }}"
    key: "{{ item }}"
    state: present
  loop: "{{ chineseroom_user_ssh_keys }}"
  when: chineseroom_user_ssh_keys | length > 0

- name: Create repos directory for chineseroom user
  file:
    path: "/home/{{ chineseroom_restricted_user }}/repos"
    state: directory
    owner: "{{ chineseroom_restricted_user }}"
    group: "{{ chineseroom_restricted_user }}"
    mode: '0700'

- name: Configure GDM for autologin
  ini_file:
    path: /etc/gdm/custom.conf
    section: daemon
    option: "{{ item.option }}"
    value: "{{ item.value }}"
    backup: yes
  loop:
    - { option: "AutomaticLoginEnable", value: "True" }
    - { option: "AutomaticLogin", value: "{{ chineseroom_restricted_user }}" }
  when: chineseroom_enable_autologin

- name: Disable screen lock for chineseroom user
  become: yes
  become_user: "{{ chineseroom_restricted_user }}"
  shell: |
    gsettings set org.gnome.desktop.session idle-delay 0
  when: chineseroom_disable_screen_lock

# Allow user services/timers to run when the user isn't logged in
- name: Enable linger for {{ chineseroom_restricted_user }}
  become: true
  command: loginctl enable-linger {{ chineseroom_restricted_user }}

- name: Create .config directory for chineseroom user
  file:
    path: "/home/{{ chineseroom_restricted_user }}/.config"
    state: directory
    owner: "{{ chineseroom_restricted_user }}"
    group: "{{ chineseroom_restricted_user }}"
    mode: '0755'

- name: Install chineseroom aliases file
  template:
    src: aliases.sh.j2
    dest: "/home/{{ chineseroom_restricted_user }}/.config/aliases.sh"
    owner: "{{ chineseroom_restricted_user }}"
    group: "{{ chineseroom_restricted_user }}"
    mode: '0644'
  tags:
  - chineseroom_aliases

- name: Add aliases to bashrc
  lineinfile:
    path: "/home/{{ chineseroom_restricted_user }}/.bashrc"
    line: 'test -f ~/.config/aliases.sh && source ~/.config/aliases.sh'
    state: present
    owner: "{{ chineseroom_restricted_user }}"
    group: "{{ chineseroom_restricted_user }}"
    mode: '0644'
    create: yes